.big-quotes{
    display: block;
    min-height: 86.5vh;
    margin-top: -100px;
    padding-top: 100px;
    background-color: palevioletred;
  }
  .big-quotes .card{
    display: inline-block;
    width: 600px;
    margin: 30px 0;
  }