.unitConverter{
    display: block;
    min-height: 86.5vh;
    margin-top: -100px;
    padding-top: 100px;
    background-color: rgb(154, 167, 105);
  }
.unitConverter .coverInput{
    border: 1px solid grey;
    background-color: aliceblue;
    width: 50%;
    height: 400px;

    padding: 50px;
}
.unitConverter .input{
    width: 100%;
    margin: 30px 0;
}